*.log
.DS_Store
.env
.env.backup
.env.production
.env.*
.phpactor.json
.phpunit.result.cache

# IDEs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Auth
/auth.json

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# OS files
.DS_Store
